@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Permanent+Marker&family=Poppins:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* **********************************************sidebar********************************** */

.sidebar{
    /* border: 1px solid blue; */
    position: fixed;
    height: 100vh;
    width: 255px;
    background: #725BE1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: all 0.3s ease;
    
}
.sidebar .logo{
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 1.5rem;

}
.sidebar .logo img{
    width:35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 15px;
}
.sidebar .logo h2{
    color: white;
    margin-left: .8rem;
}
.sidebar .tagline{
    position: absolute;
    top: 3.5rem;
    left: 3rem;
    color: black;
}

.sidebar ul{
    margin-top: 2rem;
}
.sidebar li{
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    margin: 0.5rem .5rem 0 .5rem;
    padding:0.5rem 0.3rem;
    border-radius: 0.25rem;
    

}
.sidebar li a{
    margin-left: 1.5rem;
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.sidebar li i{
    color: white;
    font-size: 20px;
}

.sidebar li:hover{
    background: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    
}

.menu{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    background-color: rgba(0,0,0,.3);
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    border-radius: 0.3125rem;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 0;
    font-weight: 700;
}
.sidebar #close,.closeWindow{
    position: absolute;
    right: 0.3rem;
    top: 0.5rem;
    color: #fff;
    background-color: rgba(0,0,0,.3);
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    border-radius: 0.3125rem;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 0;
    font-weight: 700;
    color: white;

}
.sidebar #close:hover{
    background: black;
}
.menu:hover{
    background: black;

}



.bg{
    width: 100%;
    height: 100vh;
    position: absolute;

}
#bg-img{
    width: 100%;
  height: 100vh;
}

.content{
    position: absolute;
    right: 1rem;
    top: .5rem;
}

.content button#signup{
    height: 2.5rem;
    width: 5rem;
    font-weight: 500;
    font-size: 15px;
    padding: .2rem .2rem;
    margin: .2rem .2rem;
    border-radius: 0.3125rem;
    align-items: center;
    border: 0;
    background: #725BE1;
    color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.content button#signup:hover{
    background: #5b45c9;
    cursor: pointer;
}
.content button#login{
    height: 2.5rem;
    width: 5rem;
    font-weight: 500;
    font-size: 15px;
    padding: .2rem .2rem;
    margin: .2rem .2rem;
    border-radius: 0.3125rem;
    align-items: center;
    border: 0;
    background:rgba(0,0,0,.4) ;
    color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.content button#login:hover{
    background: rgba(0,0,0,.5);
    cursor: pointer;
}

/* *****************************************signUp page************************************* */

.container{
    height: 100vh;
    max-width: 1152px;
    border: 2px solid red;
    margin: 0 auto;
    background: #725BE1;
    display: flex;
    justify-content: center;
    align-items: center;

}
.forms{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;

}
.login{
    background: #fff;
    display: flex;
    width: 75%;
    height: 28rem;
    border-radius: 1rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.login .left{
    border: 1px solid gray;
    width: 60%;
}
.login .right{
    border: 1px solid red;
    flex: 1;
    width: 40%;
}